*.fastq.gz
*.swp
.snakemake/
__pycache__/
#sampleInfo.tsv
#poolSampleSheet.tsv
#sampleSheet.tsv
cmu
AlignmentStats/
Bam/
Bed/
BigWig/
Bowtie2Index/
FQscreen/
FastQC/
#Logs/
PCRdups/
Peaks/
Plots/
Sam/
Threshold_PeakCalls/
nohup.out
slurmOut/
